body{
    background-color: black;
    color: white;
}

a{
    color: white !important;
    text-decoration: none !important;
}
h1{
    text-align: center;
    color: white;
}


.nav-bar-logo{
    width: 150px;
    height: 50px;
}

.teste {
    background-color: red;
}

#id_nome{
    background-color: aquamarine;
    margin-top: 1.5%;
}

.form_cad{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0 !important;
    border-radius: 0 0 5px 5px;
    row-gap: 8px;
}

.butao{
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top: 1.5%;
    border-color: rgb(153, 5, 5);
    margin-left: auto;
    margin-right: 10px;
}

.butao:hover{
    background-color: white;
    color: red;
}

.item_lista{
    background-color: yellow !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 1% !important;
}

textarea{
    resize: none !important;
}
 .fundo{
    background-color: rgb(77, 75, 75) !important;
 }

 .div-imagem{
    text-align: center !important;
    width: 100%;
    padding: 10px 0 0 0 ;

    img {
        height: 500px;
    }
 }
 .div-item-menu{
    display: flex !important;
    background-color: gray !important;
    height: 50px !important;
    border-radius: 8px ;

    a {
        padding: 0 20px 0 20px;
        line-height: 45px;
    }
 }
 .item-menu{
    text-decoration: none !important;
    color: white !important;
    font-size: 25px !important;
    text-align: center !important;
 }
 .div-item-menu:hover{
    background-color: white !important;
    a {
        color: red !important;
    }
 }