body{
    background-color: black;
    color: white;
}

a{
    color: white !important;
    text-decoration: none !important;
}
h1{
    text-align: center;
    color: white;
}

label{
    width: 70px;
    height: 30px;
}
#id_valor{
    margin-left: auto !important;
}
input{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border-color: gray;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-color: rgb(238, 238, 127);
}
input[type-submit]{
    width: 80px;
    height: 30px;
    border-radius: 5px !important;
    background-color: rgb(0, 151, 0);
    color: white;
    background-color: green;
}
textarea{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border-color: gray;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-color: rgb(233, 233, 88);
}

select{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border-color: gray;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-color: rgb(233, 233, 88);
}
#id_valor{
    width: 80px;

}


#id_descricao{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border-color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}
.img-fundo{
    width: 100%;
    height: 80%;
}

.nav-bar-logo{
    width: 150px;
    height: 50px;
}
button{
    width: 80px;
    height: 30px;
    border-radius: 5px !important;
    background-color: rgb(0, 151, 0);
    color: white;
    background-color: green;
}
button:hover{
    background-color: rgb(90, 201, 90);
    color: white;
}


.form_cad{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0 !important;
    border-radius: 0 0 5px 5px;
    row-gap: 8px;
}

.butao{
    width: 80px !important;
    height: 30px !important;
    background-color: red;
    color: white;
    border-radius: 5px !important;
    margin-top: 1.5%;
    border-color: rgb(153, 5, 5);
    margin-left: auto;
    margin-right: 10px;
}

.butao:hover{
    background-color: rgb(254, 155, 155);
}

.item_lista{
    background-color: yellow !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 1% !important;
}

textarea{
    resize: none !important;
}
 .fundo{
    background-color: rgb(209, 205, 205) !important;
    min-height: 80% !important;
    width: 100%;
    height: 100%;
 }

 .div-imagem{
    text-align: center !important;
    width: 100%;
    padding: 10px 0 0 0 ;

    img {
        height: 500px;
    }
 }
 .div-item-menu{
    display: flex !important;
    background-color: gray !important;
    height: 50px !important;
    border: 2px solid white;



    a {
        padding: 0 20px 0 20px;
        line-height: 45px;
    }
 }
 .item-menu{
    text-decoration: none !important;
    color: white !important;
    font-size: 25px !important;
    text-align: center !important;
 }
 .div-item-menu:hover{
    background-color: white !important;
    a {
        color: red !important;
    }
 }

 .footer {
    height: 85px;
    width: 100%;
    background-color: rgb(40, 40, 40);
 }
 .botao-volt{
    width: 80px;
    height: 30px;
    background-color: green;
    border-radius: 5px;
    border: 2px;
    border-color: rgb(2, 54, 2);

 }
 .botao-volt:hover{
    background-color: rgb(184, 221, 184);
    
    border-color: green;
    
    a{
        color: green !important;
    }
 }
 .cad-form{
    background-color: white !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    border-radius: 10px !important;
    padding-bottom: 20px !important;
    height: 550px;
 }
 .tit-cad{
    background-color: rgb(255, 61, 61);
    padding: 2px;
    border-radius: 10px 10px 0 0;
 }
 .item {
    border: 1px solid #000;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box; /* Garante que padding e border não afetem o tamanho final */
}

/* Cores de fundo para clareza */
.item1{
    background-color: red;
    height: 50px;
    width: 100%;
    border-radius: 10px 10px 0 0;

    #cad_titulo {
        color: white !important;
        font-family: 'Times New Roman', Times, serif;
        height: 50px;
    }
}
.item2{
    width: 40%;
    height: 450px;
    border-radius: 0 0 0 10px;
    img{
        height: 450px;
        width: 100%;
    }
}
.item3{
    width: 60%;
    height: 450px;
    border-radius: 0 0 10px 0;
    form{
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;

        input {
            height: 35px;
        }

        > div {
            display: flex;
            flex-direction: column;
            width: 300px;

            label {
                height: 25px;
                margin-right: 0 !important;       
            }

            label[for="id_valor"] {
                margin-left: auto;
                width: 80px;
            }
        }

        .butao {
            margin: 0 auto;
        }
    }
}

.main-cad-container{
    background-color: white;
    width: 80% !important; 
    height: 500px; 
    margin-left: 10%; 
    margin-right: 10%;
    border-radius: 10px;
}

.td-fuc{
    text-align: center  !important;
    a{
        color: green !important;
        
    }
}
.log-container{
    background-color: rgb(255, 255, 255) !important ;
    width: 400px !important;
    height: 350px !important;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 10px;
}
.div-img-p{
    width: 400px;
    height: 150px;
    display: flex;
    img{
        width: 140px;
        height: 140px;
        margin: auto !important;
    
    }
}

/* Faz a DIV 1 (a de cima) ocupar ambas as colunas */