body{
    background-color: black;
    color: white;
}

a{
    color: white !important;
    text-decoration: none !important;
}
h1{
    text-align: center;
    color: white;
}

label{
    width: 70px;
    height: 5px;
    margin-left: 10px;

}
input{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border-color: gray;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-color: rgb(238, 238, 127);

    
}
textarea{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border-color: gray;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-color: rgb(233, 233, 88);
}
#id_valor{
    width: 80px;
    margin-left: 220px;

}


#id_descricao{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border-color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}
.img-fundo{
    width: 100%;
    height: 80%;
}

.nav-bar-logo{
    width: 150px;
    height: 50px;
}

.teste {
    background-color: red;
}


.form_cad{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0 !important;
    border-radius: 0 0 5px 5px;
    row-gap: 8px;
}

.butao{
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top: 1.5%;
    border-color: rgb(153, 5, 5);
    margin-left: auto;
    margin-right: 10px;
}

.butao:hover{
    background-color: white;
    color: red;
}

.item_lista{
    background-color: yellow !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 1% !important;
}

textarea{
    resize: none !important;
}
 .fundo{
    background-color: rgb(209, 205, 205) !important;
    min-height: 80% !important;
    width: 100%;
 }

 .div-imagem{
    text-align: center !important;
    width: 100%;
    padding: 10px 0 0 0 ;

    img {
        height: 500px;
    }
 }
 .div-item-menu{
    display: flex !important;
    background-color: gray !important;
    height: 50px !important;
    border: 2px solid white;



    a {
        padding: 0 20px 0 20px;
        line-height: 45px;
    }
 }
 .item-menu{
    text-decoration: none !important;
    color: white !important;
    font-size: 25px !important;
    text-align: center !important;
 }
 .div-item-menu:hover{
    background-color: white !important;
    a {
        color: red !important;
    }
 }

 .footer {
    height: 85px;
    width: 100%;
    background-color: rgb(40, 40, 40);
 }
 