{% extends 'bases/base.html' %}

{% block title %}Cadastro de Produtos{% endblock %}

{% block content %}
{% load static%}

<style>
    
</style>
<div style="margin-top: 20px; margin-bottom: 50px;">
    <div class="main-cad-container" style="width: 80%; margin: 0 10% 0 10%;">
        <div class="item1">
            <h1 id="cad_titulo">Cadastro de Produtos Alimentícios</h1>
        </div>
        <div style="display: flex; flex-direction: row !important;">
            <div class="item2">
                <img src="{% static 'img/meme.png' %}" alt="#">

            </div>
            <div class="item3">
                <form method="post">
                    {% csrf_token %}
                    {{ form_prod }}
                    <div> 
                        <div>
                            <input type="submit" value="{{ texto }}" class="butao">
                            <button class="butao">
                                <a href="{% url 'produtos' %}" style="text-decoration: none; color: black;">
                                    Cancelar
                                </a>
                            </button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}