{% extends 'bases/base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<h1>Página Inicial</h1>
<div class="form_cad">
    <button><a href="{% url 'cadastro_cliente' %}">Cadastro de Clientes</a></button>

    <button><a href="{% url 'cadastro_endereco' %}">Cadastro de Endereços</a></button>

    <button><a href="{% url 'cadastro_funcionario' %}">Cadastro de Funcionários</a></button>

    <button><a href="{% url 'cadastro_pedido' %}">Cadastar Pedidos</a></button>

    <button><a href="{% url 'produtos' %}">Produtos</a></button>
</div>

{% endblock %}