{% extends 'bases/base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
{% load static %}
<br>
<a href="{% url 'login' %}">LOGIN</a>
<div style="display: flex; justify-content: center; column-gap: 40px;">
    <div class="div-item-menu">
        <a href="{% url 'cliente' %}" class="item-menu">Clientes</a>
    </div class="div-item-menu">
    <div class="div-item-menu">
        <a href="{% url 'endereco' %}" class="item-menu">Endereços</a>
    </div>
    <div class="div-item-menu">
        <a href="{% url 'funcionario' %}" class="item-menu">Funcionários</a>
    </div>
    <div class="div-item-menu">
        <a href="{% url 'pedido' %}" class="item-menu">Pedidos</a>
    </div>
    <div class="div-item-menu">
        <a href="{% url 'produtos' %}" class="item-menu">Produtos</a>
    </div>
</div>    
<div class="div-imagem">   
    <img src="{% static 'img/logobig.png' %}" alt="#">
</div>
<br>

{% endblock %}
