{% extends 'bases/base.html' %}

{% block 'title' %}Pedido{% endblock %}

{% block content %}

<h1>Pedidos Cadastrados</h1>

<div class="butao" >
    <a href="{% url 'cadastro_pedido' %}">Cadastrar novo pedido</a>
</div>

<table class=" table table-striped">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Atendente</th>
            <th>Tipo de Pagamento</th>
            <th>Valor Total</th>
            <th>taxa entrega</th>
            <th>Observação</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in lista_pedido %}
        <tr>
            <td>{{ pedido.cliente }}</td>
            <td>{{ pedido.atendente }}</td>
            <td>{{ pedido.forma_pagamento }}</td>
            <td>{{ pedido.valor_total }}</td>
            <td>{{ pedido.taxa_entrega }}</td>
            <td>{{ pedido.obs }}</td>
            <td><a href="{% url 'edit_pedido' pedido.id %}">Editar</a></td>
            <td><a href="{% url 'del_pedido' pedido.id %}">Deletar</a></td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>

{% endblock %}