{% extends 'bases/base.html' %}

{% block 'title' %}Pedido{% endblock %}

{% block content %}

<h1>Pedidos Cadastrados</h1>

<table class=" table table-striped">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Produto</th>
            <th>Tipo de Pagamento</th>
            <th>Quantidade</th>
            <th>Valor Total</th>
            <th>Observação</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in lista_pedido %}
        <tr>
            <td>{{ pedido.cliente }}</td>
            <td>{{ pedido.produto }}</td>
            <td>{{ pedido.forma_pagamento }}</td>
            <td>{{ pedido.quantidade }} (un.)</td>
            <td>{{ pedido.valor_total }}</td>
            <td>{{ pedido.obs }}</td>
            <td><a href="{% url 'del_pedido' pedido.id %}">Cancelar</a></td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>
<button>
    <a href="{% url 'cadastro_pedido' %}">Cadastrar</a>
</button>

{% endblock %}