{% extends 'bases/base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<p>
<h1>Produtos</h1>
</p>
<p>
    <p>
        <a href="{% url 'cadastro' %}">Cadastrar novo produto</a>
    </p>

    {% for produto in lista_produto %}
        <p>
            Nome: {{ produto.nome }} || Preço: R$ {{ produto.valor }} 
            || <a href="{% url 'edit_produto' produto.id %}">Editar</a>
            || <a href="{% url 'del_produto' produto.id %}">Deletar</a>

        </p>
    {% endfor %}
</p>
{% endblock %}